
          <!-- DON'T PUT ANYTHING ELSE IN HERE! -->
          <h1>Top Questions</h1>
          <section class="home-questions" ng-repeat="question in questions">
            <hr>
            <ul class="question-widget">
              <li class="votes-num">
                <span class="votes-count">{{question.question_meows}}</span>
                <span class="label">votes</span>
              </li>
              <li class="answers-num">
                <span class="answers-count">{{question.answers_count}}</span>
                <span class="label">answers</span>
              </li>
              <li class="question-overview">
                <a class="question-title" href="#">{{question.title}}</a>
                <span class="question-time">&nbsp; {{question.created_at | date}}</span>
                <a class="question-user" href="#">{{question.user.display_name}}</a>
              </li>
            </ul>
          </section>  <!-- .home-questions -->
          <section class="home-tips">
            <div class="tips">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </span>
            </div>
          </section>

